[program:celerybeat]
command={{ platform_venv }}/bin/python -m celery beat -A conf --loglevel=INFO

directory={{ root_dir }}
user={{ ansible_user }}
numprocs=1
stdout_logfile=/var/log/supervisor/celerybeat.log
stderr_logfile=/var/log/supervisor/celerybeat.log
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
killasgroup=true
priority=1000
environment={% for item in env_vars %}{{ item }}="{{ env_vars[item] }}"{% if not loop.last %},{% endif %}{% endfor %}