[frontend]
{%FRONTEND_PUBLIC_DNS%} ansible_user={%EC2_USER%} ip_address={%FRONTEND_IP_ADDRESS%} ansible_python_interpreter=/usr/bin/python3

[platform_web]
{%PLATFORM_WEB_PUBLIC_DNS%} ansible_user={%EC2_USER%} ip_address={%PLATFORM_WEB_IP_ADDRESS%} ansible_python_interpreter=/usr/bin/python3

[platform_worker]
{%PLATFORM_WORKER_PUBLIC_DNS%} ansible_user={%EC2_USER%} ip_address={%PLATFORM_WORKER_IP_ADDRESS%} ansible_python_interpreter=/usr/bin/python3