!/apache.devbox.heliumedu.dev.key
!/apache.devbox.heliumedu.dev.crt
!/apache.devbox.heliumedu.dev.ca-bundle
!/apache.devbox.*.heliumedu.dev.key
!/apache.devbox.*.heliumedu.dev.crt
!/apache.devbox.*.heliumedu.dev.ca-bundle