!/apache.devbox.heliumedu.test.key
!/apache.devbox.heliumedu.test.crt
!/apache.devbox.heliumedu.test.ca-bundle
!/apache.devbox.*.heliumedu.test.key
!/apache.devbox.*.heliumedu.test.crt
!/apache.devbox.*.heliumedu.test.ca-bundle