---
domain_environment: "devbox"

helium_host: "heliumedu.test"

project_datadog_api_key: "<DATADOG_API_KEY>"
project_datadog_app_key: "<DATADOG_APP_KEY>"

rollbar_server_access_token: "<ROLLBAR_POST_SERVER_ITEM_ACCESS_TOKEN>"

# NOTE: THIS IS INSECURE AND SHOULD NEVER BE DONE OUTSIDE OF DEVELOPMENT
project_serve_local: True

frontend_host: "{{ helium_host }}"
frontend_host_alias: "www.{{ helium_host }}"
frontend_ssl: True
frontend_host_protocol: "https://"

platform_host: "api.{{ helium_host }}"
platform_host_alias: "www.api.{{ helium_host }}"
platform_ssl: True
platform_host_protocol: "https://"
platform_db_host: "localhost"
platform_db_user: "helium"
platform_db_password: "fixmyhomework"

ci_env_vars:
  CI_TWILIO_RECIPIENT_PHONE_NUMBER: "<TWILIO_RECIPIENT_PHONE_NUMBER>"

platform_env_vars:
  PROJECT_SERVE_LOCAL: "{{ project_serve_local }}"
  PROJECT_DISABLE_EMAILS: "False"
  PLATFORM_ROLLBAR_POST_SERVER_ITEM_ACCESS_TOKEN: "{{ rollbar_server_access_token }}"
  PLATFORM_AWS_S3_ACCESS_KEY_ID: "<AWS_ACCESS_KEY_ID>"
  PLATFORM_AWS_S3_SECRET_ACCESS_KEY: "<AWS_SECRET_ACCESS_KEY>"
  PLATFORM_TWILIO_ACCOUNT_SID: "<TWILIO_ACCOUNT_SID>"
  PLATFORM_TWILIO_AUTH_TOKEN: "<TWILIO_AUTH_TOKEN>"
  PLATFORM_TWILIO_SMS_FROM: "<TWILIO_SMS_FROM>"
  PLATFORM_SECRET_KEY: "l4r8hl-$4jj1@w7=g#^kk*pf8wsrlsg-3_2y!ouk_a4@&qi+op"
  PLATFORM_CSRF_MIDDLEWARE_SECRET: "ft=66&)sjuntalf22@y*i7+5az5(l=v$f&hclry$0_8oql9x+8"
  PLATFORM_CORS_ORIGIN_WHITELIST: "{{ frontend_host_protocol }}{{ frontend_host }} {{ frontend_host_protocol }}{{ frontend_host_alias }}"
  PLATFORM_EMAIL_HOST_USER: "<SMTP_USERNAME>"
  PLATFORM_EMAIL_HOST_PASSWORD: "<SMTP_PASSWORD>"
  PLATFORM_REDIS_HOST: "redis://localhost:6379/1"
  PLATFORM_DB_USER: "{{ platform_db_user }}"
  PLATFORM_DB_PASSWORD: "{{ platform_db_password }}"
  PLATFORM_CSRF_COOKIE_SECURE: "True"
  PLATFORM_SESSION_COOKIE_SECURE: "True"
  PLATFORM_DEBUG: "True"
  PLATFORM_TEMPLATE_DEBUG: "True"

env_vars: "{{ default_env_vars | combine(ci_env_vars) | combine(platform_env_vars) }}"
