[Unit]
Description=Network daemon for aggregating statistics
Documentation=https://github.com/etsy/statsd/
Wants=network.target

[Service]
Type=simple
User=node
Group=node
Restart=on-failure
RestartSec=10
ExecStart=/bin/sh -c '/usr/bin/nodejs /opt/statsd/stats.js /opt/statsd/config.js > /var/log/statsd/statsd.log 2>&1'

[Install]
WantedBy=multi-user.target
