name: "Deploy Release"

run-name: "Deploy release ${{ inputs.version }}"

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
      environment:
        type: choice
        required: true
        default: prod
        options:
        - dev
        - prod
      cut_release:
        type: boolean
        required: true
        default: false
        description: "Cut the release tag for the `deploy` repo. Usually only needed if manually re-deploying a \"Build and Deploy Release\" pipeline that failed."
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      environment:
        type: string
        required: true
      cut_release:
        type: boolean
        required: true

permissions:
  contents: read
  issues: none
  pull-requests: none

concurrency:
  group: "helium-deploy-${{inputs.environment}}"

jobs:
  release:
    name: Deploy Frontend-Legacy Release

    env:
      FORCE_COLOR: 1
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1
      FRONTEND_ROLLBAR_SERVER_ITEM_ACCESS_TOKEN: ${{ secrets.FRONTEND_ROLLBAR_SERVER_ITEM_ACCESS_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      ENVIRONMENT: ${{ inputs.environment }}
      VERSION: ${{ inputs.version }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python "3.12"
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install boto3 requests

      - name: Deploy frontend-legacy to S3
        run: python bin/trigger-frontend-legacy-release.py

      - name: Notify Rollbar of frontend deploy
        uses: rollbar/github-deploy-action@2.1.2
        with:
          environment: ${{ inputs.environment }}
          version: ${{ inputs.version }}
        env:
          ROLLBAR_ACCESS_TOKEN: ${{ secrets.FRONTEND_ROLLBAR_SERVER_ITEM_ACCESS_TOKEN }}
          ROLLBAR_USERNAME: ${{ github.actor }}