name: "Build and Deploy Legacy Frontend"

run-name: "Build and deploy legacy frontend v${{ inputs.version }}"

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
      environment:
        type: choice
        required: true
        default: prod
        options:
        - dev
        - prod

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-release.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}

  deploy:
    name: Deploy Legacy Frontend
    needs: build
    uses: ./.github/workflows/deploy-release.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}
      environment: ${{ inputs.environment }}
      cut_release: true