name: "Release and Deploy Legacy Frontend"

run-name: "Release and deploy legacy frontend v${{ inputs.version }}"

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
      environment:
        type: choice
        required: true
        default: prod
        options:
        - dev
        - prod
      run_cluster_tests:
        description: 'Run cluster tests before deploying'
        required: true
        type: boolean
        default: true

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-release.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}

  deploy:
    name: Deploy Legacy Frontend
    needs: build
    uses: ./.github/workflows/deploy-release.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}
      environment: ${{ inputs.environment }}
      run_cluster_tests: ${{ inputs.run_cluster_tests }}
      cut_release: true